@import 'src/styles/colors';
@import 'src/styles/extenders';

.wrapper,
.icons {
  display: flex;
  align-items: center;
}

.wrapper {
  margin-bottom: 6px;
}

.title {
  @extend .ellipsis;
  max-width: 178px;
  flex-grow: 1;
  color: $DARK_GRAY;
}

.order {
  margin-right: 5px;
  width: 24px;
  text-align: end;
  margin-left: -9px;
}

.icon {
  margin: 0 6px;
  font-size: 12px;
  &:hover {
    color: $MAIN_BLUE;
  }
}
